$text:orange;
$bg:black;

body {
    color:$text;
    background-image: url('assets/images/bg.jpg');
    background-color: $bg;
    background-repeat: no-repeat;
}
$primary:teal;

.img-thumbnail {
    width: 200px;
}